Package: com.1462102207ai02-del.liquidglasswechat
Name: LiquidGlassWeChat
Version: 4.0.2
Architecture: iphoneos-arm
Description: Liquid glass style for WeChat bottom bar
Depends: mobilesubstrate
Section: Tweaks
Author: 1462102207ai02-del
Homepage: https://github.com/1462102207ai02-del/LiquidGlassWeChat4.0
