Package: com.youname.liquidtabbar
Name: LiquidTabBar
Version: 1.0
Architecture: arm64e
Description: Telegram style floating tab bar for WeChat 8.0.68
Depends: mobilesubstrate
Maintainer: 马泽鑫
Author: You
Section: Tweaks
Priority: optional
Homepage: https://github.com/you
