Package: com.yourname.liquidtabbar
Name: LiquidTabBar
Version: 0.0.1
Architecture: iphoneos-arm
Description: Liquid-Glass-like navigation bar and tab bar for WeChat on iOS 16.
Maintainer: 马泽鑫
Author: 马泽鑫
Section: Tweaks
Depends: mobilesubstrate
